.profile-wrapper {
	.profile-card {
		@media (max-width: 640px) {
			& > img {
				z-index: 1;
			}
			& > form {
				transform: translateY(-250px);
				z-index: 2;
				background-color: whitesmoke;
				border-radius: 5px;
			}
			.profile-card {
				gap: 2rem;
				max-width: 300px;
			}
		}
		& > img {
			max-width: 300px;
			height: 400px;
			object-fit: cover;
		}
	}
	@media (max-width: 640px) {
		.profile-card {
			gap: 2rem;
		}
	}
}
.profile-line-card {
	& > img {
		width: 50px;
		height: 50px;
	}
}
