::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

nav {
	max-height: 10vh;
}
body {
	font-family: roboto;
	min-height: 100vh;
	min-height: 100dvh;

	display: flex;
	flex: {
		direction: column;
	}

	main {
		flex: {
			grow: 1;
			shrink: 0;
			basis: 100%;
		}
		gap: 1rem;
		height: auto;
		display: flex;
		& > div {
			min-height: 100%;
		}
		& > div:nth-child(1) {
			// width: 20%;
			flex: {
				grow: 0;
				shrink: 1;
			}
			padding: 1rem;
			gap: 1rem;
			@media (max-width: 720px) {
				& {
					background-color: whitesmoke;
				}
			}
		}
		& > div:nth-child(2) {
			flex: {
				grow: 0;
				shrink: 1;
			}
			width: 100%;
		}
		.tab-content {
			.tab-pane {
				max-height: 90vh;
				overflow-y: scroll;
			}
		}
		#HomeCarousel {
			max-height: 400px;
			.carousel-inner {
				max-height: 400px;
				img {
					max-height: 400px;
					object-fit: cover;
				}
			}
		}
	}
}
